.sp_I9RAJJjMi1K_2x{background-image:url(/rsrc.php/v3/yV/r/k0EtdjlQ9kw.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_I9RAJJjMi1K_2x.sx_2d6542{background-position:0 0}.sp_I9RAJJjMi1K_2x.sx_d010b9{background-position:0 -17px}

#bootloader_HwSrm{height:42px;}.bootloader_HwSrm{display:block!important;}